.body{
  min-height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generate-button-text{
  font-size: large;
  font-weight: bold;
}
.body-container-left{
  width: 30%;
  height: 40vh;
  float: left;
}
.body-container-left-left{
  width: 80%;
  height: 40vh;
  float: left;
}
.body-container-left-right{
  width: 20%;
  height: 40vh;
  float: left;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: larger;
  font-weight: bolder;
}

.body-container-center{
  width: 40%;
  height: 100%;
  float: left;
}
.body-container-center-top{
  height: 40vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.body-container-center-bottom{
  height: 30vh;
  font-size: larger;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container-right{ 
  width: 30%;
  height: 100%;
  float: left;
}


/* image style section */
.file-upload {
  text-align: center;
  font-size: small;
  border: 3px dashed rgb(210, 227, 244);
  padding: 1.5rem;
  max-width: fit-content;
  max-height: 100px;
  position: relative;
  cursor: pointer;
}
.file-upload p {
  margin-top: 10px;
  color: #bbcada;
}
.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}