.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ef3ed776;
}

.App-generate-button-text{
  font-size: large;
  font-weight: bold;
}
.App-body-container-left{
  width: 30%;
  height: 40vh;
  float: left;
}
.App-body-container-left-left{
  width: 80%;
  height: 40vh;
  float: left;
}
.App-body-container-left-right{
  width: 20%;
  height: 40vh;
  float: left;
  align-items: center;
  justify-content: left;
  display: flex;
  font-size: larger;
  font-weight: bolder;
}

.App-body-container-center{
  width: 40%;
  height: 100%;
  float: left;
}

.App-body-container-right{ 
  width: 30%;
  height: 100%;
  float: left;
}
